<!DOCTYPE html>
<html lang="Zh-cn">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="css/css2/style.css">
	<link rel="stylesheet" type="text/css" href="css/css2/Recet.css">
	<link rel="stylesheet" type="text/css" href="css/css2/iconfont.css">
	<link rel="stylesheet" type="text/css" href="css/css2/iconfont_2.css">
	<script type="text/javascript" src="js/js1/demo.js"></script>
</head>
<body>
	<header>
		<div class="header_container">
			<img src="img/weibo.png" class="weibo">
			<li><a href="">首页</a></li>
			<li><a href="">视频</a></li>
			<li><a href="">发现</a></li>
			<li><a href="">游戏</a></li>
			<input type="text" name="" class="search">
			<a href="/rankinglist"><div class="iconfont">&#xe628;<span>排行榜</span></div></a>
			<span class="lands">登陆</span>
			<span class="register"><a href="/regist">注册</a></span>
		</div>
	</header>
	<div class=body_container>
		<div class="nav_container">
			<li><a href="">推荐</a></li>
			<li><a href="">热门</a></li>
			<li><a href="">新闻</a></li>
			<li><a href="">最新</a></li>
			<li><a href="">热门</a></li>
			<li><a href="">娱乐</a></li>
			<li><a href="">电影</a></li>
			<li><a href="">时尚</a></li>
			<li><a href="">科技</a></li>
			<li><a href="">体育</a></li>
			<li><a href="">动漫</a></li>
		</div>
		<div class="rotation_chart_container">
			<div class="rotation_chart">
				<ul class="ul_img">
					<li class="li_img"><img src="img/timg.jpg"></li>
					<li class="li_img"><img src="img/timg_1.jpg"></li>
					<li class="li_img"><img src="img/timg_2.jpg"></li>
					<li class="li_img"><img src="img/timg_3.jpg"></li>
				</ul>
			</div>
			<div class="spot_container">
				<div class="spot"></div>
				<div class="spot"></div>
				<div class="spot"></div>
				<div class="spot"></div>
			</div>
		</div>
		<div class="land_container">
			<div class="land_title"><a href="">账号登陆</a></div>
			<input type="text" name="PhoneNumber" id="PhoneNumber" class="input_1" placeholder="请输入手机号">
			<input type="Password" name="Password" id="Password" class="input_2" placeholder="请输入密码">
			<button id="denglu"><span>登陆</span></button>
			<div class="land_container_2">
				<span><a href="">记住密码</a></span>
				<span><a href="">忘记密码</a></span>
				<span class="land"><a href="" id="denglu">登陆</a></span>
			</div>
		</div>
		<div class="dynamic">
			<div class="user_1">
				<img src="/img/p2.png">
				<img src="/img/p3.png">
				<img src="/img/p4.png">
				<div class="name">
					<img src="/img/moren.jpg" alt="">
					<span>jetris</span>
					<span>1-14 14:25</span>
				</div>
				<div class="iconfont_container">
					<div class="iconfont">&#xe6e8;23</div>
					<div class="iconfont">&#xe602;23</div>
					<div class="iconfont">&#xe604;123</div>
				</div>
			</div>
			<div class="user_2">
				<video></video>
				<div class="intro">【他发明的“糖丸”，消灭了中国小儿麻痹症！今天，送别顾方舟】1月2日，#病毒学家顾方舟去世#，享年92岁。他在我国首次分离出“脊灰”病毒，研制出液体和糖丸两种活疫苗，使数十万儿童免于致残。世卫组织证实：中国成为无脊灰国家。一生只为一件事，顾先生走好！</div>
				<div class="name">
					<img src="/img/moren.jpg" alt="">
					<span>jetris</span>
					<span>1-14 14:25</span>
				</div>
				<div class="iconfont_container">
					<div class="iconfont">&#xe6e8;23</div>
					<div class="iconfont">&#xe602;23</div>
					<div class="iconfont">&#xe604;123</div>
				</div>
			</div>
		</div>
		<div class="fresh_news_container">
			<div class="news_title">新鲜事</div>
			<div class="things">
				<div class="things_title">新闻联播</div>
				<img src="/img/1.jpg">
				<time>2017-02-01</time>
			</div>
			<div class="things">
				<div class="things_title">这个是标题</div>
				<img src="/img/2.jpg">
				<time>2018-03-01</time>
			</div>
			<div class="things">
				<div class="things_title">这个是标题</div>
				<img src="/img/6.jpg">
				<time>2016-02-15</time>
			</div>
			<div class="things">
				<div class="things_title">这个是标题</div>
				<img src="/img/4.jpg">
				<time>2017-10-01</time>
			</div>
			<div class="things">
				<div class="things_title">这个是标题</div>
				<img src="/img/5.jpg">
				<time>2017-11-11</time>
			</div>
			<div class="subpage_frame"><a href="">查看更多</a></div>
		</div>
		<div class="hotspot">
			<div class="hotspot_title">实时热点</div>
			<div class="hotspot_container">
				<img src="/img/2.jpg">
				<div class="title">#这个是标题好像#</div>
				<div class= "hotspot_news">这个是具体的内容最前面的几个字啊</div>
			</div>
			<div class="hotspot_container">
				<img src="/img/6.jpg">
				<div class="title">#这个是标题好像#</div>
				<div class= "hotspot_news">这个是具体的内容最前面的几个字啊</div>
			</div>
			<div class="hotspot_container">
				<img src="/img/5.jpg">
				<div class="title">#这个是标题好像#</div>
				<div class= "hotspot_news">这个是具体的内容最前面的几个字啊</div>
			</div>
			<div class="hotspot_container">
				<img src="/img/7.jpg">
				<div class="title">#这个是标题好像#</div>
				<div class= "hotspot_news">这个是具体的内容最前面的几个字啊</div>
			</div>
			<div class="hotspot_container">
				<img src="/img/1.jpg">
				<div class="title">#这个是标题好像#</div>
				<div class= "hotspot_news">这个是具体的内容最前面的几个字啊</div>
			</div>
			<div class="subpages_frame"><a href="">查看更多</a></div>
		</div>
	</div>
	<script src="/js/jquery.min.js"></script>
    	<script>window.jQuery || document.write('<script src="/js//jquery.min.js"><\/script>')</script>
    	<script src="/js/bootstrap.min.js"></script>
		<script type="text/JavaScript">
			$.ajax({
				url : '127.0.0.1:3000/',
				type : "get",
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success : function(data) {
					alert("获取成功");
					var data = JSON.parse(data);
					// for( i in data)
				}
			})
    		$("#denglu").click(function() {
    			$.ajax({
					url: '/doLogin',
					type : 'POST',
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify({
						"PhoneNumber" : $("#PhoneNumber").val(),
						"Password" : $("#Password").val()
											}),
					dataType: "json",
					success: function(data) {
						alert(JSON.stringify(data.descript));
						window.location = "/index";
					},
					error: function(data) {
						alert(JSON.stringify(data))
					}
				})
			});
    	</script>
</body>
</html>