<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>简易微博</title>
	<link rel="stylesheet" href="css/edition_css/iconfont.css">
	<link rel="stylesheet" href="css/edition_css/reset.css">
	<link rel="stylesheet" href="css/edition_css/style.css">
	<script src="/js/style.js">
		// function block()
		// {
		// 	var menban=document.getElementById('menban');
		// 	var tishi=document.getElementById('tishi');
		// 	menban.style.display='block';
		// 	tishi.style.display='block';
		// }
		// function none()
		// {
		// 	var menban=document.getElementById('menban');
		// 	var tishi=document.getElementById('tishi');
		// 	menban.style.display='none';
		// 	tishi.style.display='none';
		// }
	</script>
</head>
<body>
	<div class="section1">
		<div class="section">
			<form action="">
			<img class="header_main" src="img/WB_logo-x2.png" alt="">
			<ul class="header_main">
				<a href="/index"><li>首页</li></a>
				<a href=""><li>视频</li></a>
				<a href=""><li>发现</li></a>
				<a href=""><li>游戏</li></a>
			</ul>
			<input  class="header_main" type="text" required>
			<button>
				<a href=""><i class="iconfont">&#xe63a;</i></a>
			</button>
			<div class="ranking">
				<i class="iconfont">&#xe68f;</i>
				<a href=""><span>排行榜</span></a>
			</div>
			<a href="">
				<img  class="picture" src="img/椭圆 1.png" alt="">
			</a>
		</form>
			<button class="quit" id="zhuxiao">注销</button>
			<div class="rest cleanfloat">
				<a href=""><i class="iconfont">&#xe609;</i></a>
			</div>
		</div>
	</div>
	<div class="section2">
		<div class="section">
			<div class="section_left">
				<div class="header">
					<div class="menban" id="menban"  onmouseover="block()" onmouseout="none()"></div>
					<a href="/setavatar"><img class="picture" src="img/<%=information.Avatar%>" alt="" onmouseover="block()" onmouseout="none()"></a>
					<span class="chance" id="tishi">点击修改头像</span>
					<div class="name"><%=information.Nickname%></div>
					<div class="sign"><%=information.Signature%></div>
				</div>
				<div class="down">
					<div class="part">
						<ul>
							<li><%=information.Concern.length%></li>
							<li><a href="">关注</a></li>
						</ul>
					</div>
					<div class="part">
						<ul>
							<li><%=information.Fans.length%></li>
							<li><a href="">粉丝</a></li>
						</ul>
					</div>
					<div class="part3">
						<ul>
							<li><%=blogs_count%></li>
							<li><a href="">微博</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="section_main">
				
					<div class="part">
					<div class="header">
						<span>基本信息</span>
						<div class="solid"></div>
					</div>
					<div class="list">
						<ul>
							<li><span class="name">登录名</span><input class="news" name="PhoneNumber" id="PhoneNumber" placeholder="<%=information.PhoneNumber%>"  value="<%=information.PhoneNumber%>" disabled="ture"></li>
							<li><span class="name">昵称</span><input class="news" name="Nickname" id="Nickname" placeholder="<%=information.Nickname%>" value="<%=information.Nickname%>"></li>
							<li><span class="name">姓名</span><input class="news" name="Name" id="Name" placeholder="<%=information.Name%>" value="<%=information.Name%>"></li>
							<li><span class="name">性别</span><input class="news" name="Sex" id="Sex" placeholder="<%=information.Sex%>" value="<%=information.Sex%>"></li>
							<li><span class="name">所在地</span><input class="news" name="Location" id="Location" placeholder="<%=information.Location%>" value="<%=information.Location%>"></li>
				
							<li><span class="name">感情状况</span><input class="news" name="Emotionalstate" id="Emotionalstate" placeholder="<%=information.Emotionalstate%>" value="<%=information.Emotionalstate%>"></li>
							<li><span class="name">生日</span><input class="news" name="Birthday" id="Birthday" placeholder="<%=information.Birthday%>" value="<%=information.Birthday%>"></li>
							<li><span class="name">签名</span><input class="news" name="Signature" id="Signature" placeholder="<%=information.Signature%>" value="<%=information.Signature%>"></li>
							<li><span class="name">注册时间</span><input class="news" name="Create_At" id="Create_At" placeholder="<%=information.Create_At%>" value="<%=information.Create_At%>" disabled="ture"></li>
						</ul>
					</div>
					</div>
					<div class="part">
					<div class="header">
						<span>联系信息</span>
						<div class="solid"></div>
					</div>
					<div class="list">
						<ul>
							<li><span class="name">邮箱</span><input class="news" name="Email" id="Email" placeholder="<%=information.Email%>"></li>
							<li><span class="name">QQ</span><input class="news" name="QQ" id="QQ" placeholder="<%=information.QQ%>" value="<%=information.QQ%>"></li>
						</ul>
					</div>
					</div>
					<div class="part">
					<div class="header">
						<span>教育信息</span>
						<div class="solid"></div>
					</div>
					<div class="list">
						<ul>
							<li><span class="name">本科</span><input class="news" id="School" placeholder="<%=information.School%>" value="<%=information.School%>"></li>
							<li><span class="name">研究生</span><span class="news1">添加+</span></li>
						</ul>
					</div>
					</div>
					<div class="part">
					<div class="header">
						<span>标签信息</span>
						<div class="solid"></div>
					</div>
					<div class="list">
						<ul>
							<li><span class="name">标签</span><span class="special">#电影<i class="iconfont">&#xe604;</i></span><span class="special">#设计<i class="iconfont">&#xe604;</i></span></li>
						</ul>
					</div>
					</div>
					<button id="keep">保存</button>
				
			</div>
		</div>
	</div>
	<script src="/js/jquery.min.js"></script>
    	<script>window.jQuery || document.write('<script src="/js//jquery.min.js"><\/script>')</script>
	<script type="text/JavaScript">
		// 设置输入为空时的默认值
		$("#Nickname").focus(function(){  
        	$(this).attr("value","");
    	}).blur(function(){
        	$(this).attr("value","<%=information.Nickname%>");
    	});
    	$("#Location").focus(function(){  
        	$(this).attr("value","");
    	}).blur(function(){
        	$(this).attr("value","<%=information.Location%>");
    	});
    	$("#Name").focus(function(){  
        	$(this).attr("value","");
    	}).blur(function(){
        	$(this).attr("value","<%=information.Name%>");
    	});
    	$("#School").focus(function(){  
        	$(this).attr("value","");
    	}).blur(function(){
        	$(this).attr("value","<%=information.School%>");
    	});
    	$("#Signature").focus(function(){  
        	$(this).attr("value","");
    	}).blur(function(){
        	$(this).attr("value","<%=information.Signature%>");
    	});
    	$("#Sex").focus(function(){  
        	$(this).attr("value","");
    	}).blur(function(){
        	$(this).attr("value","<%=information.Sex%>");
    	});
    	$("#Birthday").focus(function(){  
        	$(this).attr("value","");
    	}).blur(function(){
        	$(this).attr("value","<%=information.Birthday%>");
    	});
    	$("#Emotionalstate").focus(function(){  
        	$(this).attr("value","");
    	}).blur(function(){
        	$(this).attr("value","<%=information.Emotionalstate%>");
    	});
    	$("#Email").focus(function(){  
        	$(this).attr("value","");
    	}).blur(function(){
        	$(this).attr("value","<%=information.Email%>");
    	});
    	$("#QQ").focus(function(){  
        	$(this).attr("value","");
    	}).blur(function(){
        	$(this).attr("value","<%=information.QQ%>");
    	});

		$("#keep").click(function() {
			$.ajax({
				url: '/doChange',
				type : 'POST',
				contentType: "application/json; charset=utf-8",
				data: JSON.stringify({
        			"Name" : $("#Name").val(),
        			"Nickname" : $("#Nickname").val(),
        			"Birthday" : $("#Birthday").val(),
        			"Sex" : $("#Sex").val(),
        			"Signature" : $("#Signature").val(),
        			"Emotionalstate" :$("#Emotionalstate").val(),
        			"Location" : $("#Location").val(),
        			"QQ": $("#QQ").val(),
        			"Email" : $("#Email").val(),
        			"School" : $("#School").val()
     
				}),
				dataType: "json",
				success: function(data) {
					alert(JSON.stringify(data.descript));
					location.reload();
				},
				error: function(data) {
					alert(JSON.stringify(data))
				}
			});
		});
		$("#zhuxiao").click(function() {
    			$.ajax({
					url: '/doCancle',
					type : 'get',
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify({
						
											}),
					dataType: "json",
					success: function(data) {
						alert(JSON.stringify(data.descript));
						window.location = "/";
					},
					error: function(data) {
						alert(JSON.stringify(data))
					}
				})
    		});
	</script>
</body>
</html>